.app {
    padding-top: 60px;
    &__title {
        font-size: 30px;
        margin-bottom: 55px;
        line-height: 30px;
        color: #313131;
        font-weight: 700;
        position: relative;
        &:after {
            content: 'Мобильное приложение';
            position: absolute;
            left: -25px;
            top: -20px;
            width: 818px;
            height: auto;
            font-size: 60px;
            font-weight: 800;
            line-height: 30px;
            opacity: 0.1;
            color: #14529F;
        }
        &--mini {
            font-size: 18px;
            margin: 0;
            &:after {
                display: none;
            }
        }
        @media (max-width: 1200px) {
            margin-bottom: 30px;
            &:after {
                font-size: 40px;
                padding-left: 30px;
                top: -20px;
            }
        }
        @media (max-width: 740px) {
            font-size: 25px;
            &:after {
                font-size: 26px;
                left: -32px;
            }
        }
    }
    &__box {
        background-image: url('./../img/Image 6.png');
        background-repeat: no-repeat;
        background-position: left bottom;
        padding-left: 90px;
        @media (max-width: 1200px) {
            flex-direction: column;
            background-position: top left;
        }
        @media (max-width: 740px) {
            padding-left: 10px;
        }
    }
    &__img {
        margin-right: 70px;
        @media (max-width: 1200px) {
            margin: 0 auto;
        }
        img {
            height: 630px;
            @media (max-width: 1200px) {
                flex-direction: column;
                background-position: top left;
            }
            @media (max-width: 740px) {
                height: 500px;
            }
        }
    }
    &__subtitle,
    &__list-item {
        font-size: 18px;
        line-height: 35px;
        font-weight: 300;
        @media (max-width: 740px) {
            font-size: 16px;
            line-height: 28px;
        }
    }
    &__subtitle {
        margin-top: 30px;
        line-height: 24px;
        margin-bottom: 40px;
        @media (max-width: 1200px) {
            margin-top: 0;
        }
    }
    &__list {
        margin: 0 0 40px 0;
        padding: 0;
        list-style-type: none;
    }
    &__download {
        @media (max-width: 740px) {
            display: flex;
        }
    }
    &__download img {
        margin-right: 22px;
        @media (max-width: 740px) {
            height: 40px;
        }
    }
}