.footer {
    margin-top: 110px;
    padding-top: 30px;
    background-color: #F9FBFD;
    @media (max-width: 1200px) {
        margin-top: 50px;
    }
    @media (max-width: 740px) {
        margin-top: 40px;
    }
    .navigation {
        &__list-link {
            color: #1554A5;
            font-weight: 600;
        }
    }
    &__logo img {
        width: 246px;
    }
    &__box {
        margin-bottom: 20px;
        align-items: center;
        @media (max-width: 1200px) {
            flex-direction: column;
        }
    }
    &__social-box {
        @media (max-width: 740px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 15px;
        }
    }
    &__social {
        margin-right: 20px;
        color: #1554A5;
        &:last-child {
            margin: 0;
        }
        &:hover {
            text-decoration: none;
        }
        @media (max-width: 740px) {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
    &__number {
        color: #1554A5;
        &:hover {
            text-decoration: underline;
        }
        @media (max-width: 1200px) {
            margin: 25px 0;
        }
        @media (max-width: 740px) {
            margin: 25px 0;
        }
    }
}

.copyright {
    padding: 29px 0 20px 0;
    background-color: #1554A5;
    p {
        color: #fff;
        margin: 0;
        padding: 0;
        font-size: 16px;
        @media (max-width: 740px) {
            font-size: 14px;
        }
    }
    .wrapper {
        @media (max-width: 740px) {
            flex-direction: column;
        }
    }
    a {
        margin: 0;
        text-decoration: none;
        font-size: 16px;
        color: #fff;
        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }
}