.header {
    overflow: visible;
    &__inner {
        padding: 29px 0 29px 0;
        background-color: #fff;
        margin: 0 auto;
    }
    &__fixed {
        background-color: #fff;
        align-items: center;
        z-index: 9999;
    }
    &__logo {
        align-items: center;
        width: 246px;
        margin-right: 65px;
        height: 49px;
        text-decoration: none;
        display: flex;
        img {
            width: 246px;
        }
        @media (max-width: 740px) {
            margin-left: 13px;
        }
    }
    &__main {
        margin-top: 105px;
        overflow: visible;
    }
    &__title {
        font-size: 40px;
        font-family: "Open Sans";
        font-weight: 800;
        color: #313131;
        @media (max-width: 1200px) {
            font-size: 42px;
        }
        @media (max-width: 740px) {
            font-size: 30px;
            br {
                display: none;
            }
        }
    }
    &__subtitle {
        color: #000000;
        font-size: 19px;
        margin-top: 50px;
        width: 687px;
        font-family: "Open Sans";
        font-weight: 300;
        @media (max-width: 1200px) {
            font-size: 18px;
            width: 400px;
        }
        @media (max-width: 740px) {
            font-size: 14px;
            width: 320px;
            margin-top: 30px;
        }
    }
    &__slide {
        padding-bottom: 80px;
        background-repeat: no-repeat;
        background-position: 450px 200px;
        @media (max-width: 1200px) {
            background-size: 50%;
            background-position: 350px 250px;
        }
        @media (max-width: 740px) {
            background-image: none !important;
        }
    }
    &__button {
        width: 260px;
        display: flex;
        height: 50px;
        background: transparent linear-gradient(101deg, #216ECF 0%, #13509D 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 16px #0093E929;
        border-radius: 50px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 87px;
        line-height: 1;
        letter-spacing: 0.28;
        font-size: 15px;
        letter-spacing: 0px;
        color: #FFFFFF;
        &:hover {
            background-image: none;
            background-color: #FFF;
            font-weight: 600;
            text-decoration: none;
            transition: background .2s ease-in;
            border: 2px solid #216ECF;
        }
        @media (max-width: 740px) {
            margin-top: 30px;
        }
    }
    .swiper-container {
        width: 100%;
        height: 100%;
        position: relative;
        .swiper-pagination.swiper-pagination-bullets {
            position: absolute;
            right: 0;
            bottom: 100px;
            text-align: right;
            padding-right: 150px;
            @media (max-width: 1200px) {
                text-align: center;
                bottom: 0px;
                padding-right: 0px;
            }
        }
        .swiper-pagination-bullet {
            width: 11px;
            height: 11px;
            opacity: 1;
            margin: 5px 6px;
            border: 2px solid #1C65BF;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 20px;
            background: #fff;
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            width: 34px;
            border: none;
            transition: all .3s ease;
            background: transparent linear-gradient(101deg, #216ECF 0%, #13509D 100%) 0% 0% no-repeat padding-box;
        }
    }
}

.navigation {
    position: relative;
    display: flex;
    align-items: bottom;
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        transition: opacity .8s ease-in-out;
        @media (max-width: 1200px) {
            display: none;
        }
        &--open {
            display: flex !important;
            flex-direction: column;
            position: fixed !important;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            padding: 300px 200px;
            background: #216ECF;
            z-index: 999;
            .navigation__list-link {
                color: #fff;
                font-size: 25px;
                transition: .2s ease;
                &:hover {
                    color: #fff;
                }
            }
            .navigation__list-item {
                padding-bottom: 12px;
                &:hover {
                    text-decoration: underline;
                    transition: .2s ease;
                }
            }
            @media (max-width: 740px) {
                padding: 300px 45px;
            }
        }
    }
    &__list-item {
        margin: 0 13px 0 0;
        padding: 0;
        list-style-type: none;
    }
    &__list-link {
        font-size: 15px;
        font-family: "Open Sans";
        font-weight: normal;
        color: #313141;
        &:hover {
            color: #216ECF;
            text-decoration: none;
        }
    }
    &__search {
        @media (max-width: 1200px) {
            display: flex;
            justify-content: center;
            width: 260px;
            padding-left: 20px;
            left: -70px;
        }
        @media (max-width: 740px) {
            display: none !important;
            left: -70px;
        }
    }
    &__search button {
        margin-top: 0px;
    }
    form {
        display: flex;
        align-items: bottom;
    }
    .show {
        width: 400px;
        margin-left: 100px;
        opacity: 1;
        padding-left: 20px;
        transition: opacity .8s ease-in-out;
        @media (max-width: 1200px) {
            width: 75%;
            margin-left: 0;
        }
    }
    .hide {
        opacity: 0;
        border: none;
        transition: opacity 0.8s ease-in-out;
    }
    input {
        border: 1px solid #216ECF;
        border-radius: 25px;
        margin-top: 5px;
        height: 40px;
        opacity: 0;
        padding-left: 0px;
        width: 0px;
        position: relative;
    }
    button {
        border: none;
        background-color: #fff;
    }
}

.user {
    align-items: bottom;
    margin-left: 150px;
    padding: 15px 0 10px 0;
    position: relative;
    color: #313131;
    text-decoration: none;
    @media (max-width: 1200px) {
        margin-left: auto;
    }
    @media (max-width: 740px) {
        display: none;
    }
    &__name {
        font-size: 15px;
        font-family: "Open Sans";
        font-weight: normal;
        color: #313141;
        text-decoration: none;
        margin: 0 12px 0 9px;
        @media (max-width: 1200px) {
            font-size: 14px;
            margin: 0 7px 0 9px;
            width: 150px;
        }
        &:hover {
            text-decoration: none;
            color: #216ECF;
            cursor: pointer;
        }
    }
    &:hover {
        text-decoration: none;
    }
}

.nav-icon {
    width: 21px;
    height: 14px;
    margin-top: 20px;
    display: none;
    @media (max-width: 1200px) {
        display: block;
    }
    @media (max-width: 740px) {
        position: absolute;
        right: 30px;
        top: 30px;
        display: block;
    }
}

.open-x {
    position: fixed;
    right: 20px;
    top: 14px;
    height: 21px;
    z-index: 9999;
    .navigation__list-link {
        color: #fff;
    }
}
