.news {
    padding-top: 120px;
    &__title {
        font-size: 30px;
        margin-bottom: 55px;
        line-height: 30px;
        color: #313131;
        font-weight: 700;
        position: relative;
        &:after {
            content: 'Новости компании';
            position: absolute;
            left: -25px;
            top: -20px;
            width: 818px;
            height: auto;
            font-size: 60px;
            font-weight: 800;
            line-height: 30px;
            opacity: 0.1;
            color: #14529F;
        }
        @media (max-width: 1200px) {
            margin-bottom: 30px;
            &:after {
                font-size: 40px;
                top: -20px;
                left: -50px;
            }
        }
        @media (max-width: 740px) {
            font-size: 25px;
            &:after {
                font-size: 26px;
                left: -10px;
            }
        }
    }
    &__wrapper {
        box-shadow: 0px 0px 10px #0000000D;
        border-radius: 12px;
        width: 30%;
        margin-right: 30px;
        transition: .4s ease-in-out;
        &:last-child {
            margin: 0;
        }
        &:hover {
            text-decoration: none;
            transform: scale(1.05);
            transition: transform .4s ease-in-out;
            box-shadow: 5px 20px 40px #0000000D;
        }
        img {
            width: 100%;
        }
        @media (max-width: 1200px) {
            margin: 20px auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @media (max-width: 740px) {
            margin: 20px;
            width: 320px;
            img {
                height: 140px;
            }
        }
    }
    &__box {
        justify-content: space-between;
        @media (max-width: 1200px) {
            flex-wrap: wrap;
            flex-direction: column;
            margin: 0 auto 30px auto;
            justify-content: center;
            align-items: center;
        }
        @media (max-width: 740px) {}
    }
    &__name {
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        width: 362px;
        margin-top: 24px;
        margin-left: 18px;
        line-height: 24px;
        color: #353535;
        @media (max-width: 740px) {
            width: 320px;
        }
    }
    &__text {
        text-align: left;
        font-size: 18px;
        font-weight: 300;
        margin: 18px 20px 18px 18px;
        line-height: 22px;
        color: #353535;
        @media (max-width: 1200px) {
            text-align: center;
            width: 340px;
        }
    }
    &__date {
        font-size: 13px;
        color: #13509D;
        margin-left: 18px;
        opacity: 1;
        margin-bottom: 15px;
    }
    &__link {
        text-align: left;
        color: #737387;
        font-size: 16px;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: #13509D;
        }
    }
}