.product {
    margin-top: 110px;
    &__box {
        margin-bottom: 20px;
        align-items: center;
        @media (max-width: 1200px) {
            flex-direction: column;
        }
    }
    .swiper-slide {
        padding-left: 20px;
    }
    &__title {
        font-size: 30px;
        line-height: 30px;
        color: #313131;
        font-weight: 700;
        position: relative;
        &:after {
            content: 'Страховые продукты';
            position: absolute;
            left: -25px;
            top: -20px;
            width: 818px;
            height: auto;
            font-size: 60px;
            font-weight: 800;
            line-height: 30px;
            opacity: 0.1;
            color: #14529F;
        }
        @media (max-width: 1200px) {
            margin-bottom: 30px;
            &:after {
                font-size: 40px;
                top: -20px;
                left: -60px;
            }
        }
        @media (max-width: 740px) {
            font-size: 25px;
            &:after {
                font-size: 26px;
                left: -10px;
            }
        }
    }
    &__filter {
        align-items: center;
    }
    &__inner {
        margin-top: 70px;
        @media (max-width: 1200px) {
            margin-top: 40px;
        }
    }
    &__filter-item {
        text-align: left;
        font-size: 18px;
        padding-bottom: 6px;
        font-family: "Open Sans";
        line-height: 22px;
        margin-right: 33px;
        border-bottom: none;
        font-weight: normal;
        color: #737387;
        &.swiper-button-disabled {
            color: #1657A9;
            font-weight: bold;
            border-bottom: 2px solid #E2672E;
        }
        &:hover {
            cursor: pointer;
        }
        @media (max-width: 740px) {
            font-size: 14px;
            margin-right: 16px;
            &:after {
                font-size: 26px;
                left: -10px;
            }
            &:last-child {
                margin: 0;
            }
        }
    }
    &__item {
        box-shadow: 0px 0px 20px #00000012;
        padding: 26px 37px 35px 33px;
        display: flex;
        margin-right: 34px;
        border-radius: 12px;
        margin-bottom: 35px;
        align-items: center;
        text-align: center;
        font-size: 18px;
        background: #fff;
        @media (max-width: 740px) {
            margin-right: 0;
            margin-bottom: 16px;
            padding: 13px 18px 16px 15px;
        }
        &--active {
            background-color: #000;
        }
    }
    // &__text {
    //     margin-left: 34px;
    //     margin-right: 45px;
    // }
    &__name {
        text-align: left;
        font-size: 18px;
        font-family: "Open Sans";
        line-height: 24px;
        font-weight: bold;
        margin: 0 0 7px 0;
        padding: 0;
        @media (max-width: 740px) {
            font-size: 14px;
        }
    }
    &__slider {
        height: 100%;
        width: 100%;
    }
    &__slide {
        @media(max-width: 1200px) {
            justify-content: center;
        }
    }
    &__about {
        text-align: left;
        font-size: 16px;
        font-family: "Open Sans";
        line-height: 18px;
        margin: 0;
        width: 334px;
        padding: 0;
        @media (max-width: 740px) {
            font-size: 12px;
            width: 190px;
        }
    }
}