.contacts {
    padding-top: 150px;
    @media (max-width: 740px) {
        padding-top: 70px;
    }
    &__title {
        font-size: 30px;
        margin-bottom: 55px;
        line-height: 30px;
        color: #313131;
        font-weight: 700;
        position: relative;
        &:after {
            content: 'Контактная информация';
            position: absolute;
            left: -25px;
            top: -20px;
            height: auto;
            font-size: 60px;
            font-weight: 800;
            line-height: 30px;
            opacity: 0.1;
            color: #14529F;
        }
        @media (max-width: 1200px) {
            text-align: center;
            &:after {
                font-size: 40px;
                top: -20px;
                left: 83px;
            }
        }
        @media (max-width: 740px) {
            font-size: 23px;
            margin-bottom: 20px;
            &:after {
                font-size: 26px;
                width: 440px;
                left: -20px;
            }
        }
    }
    &__box {
        justify-content: space-between;
        @media (max-width: 1200px) {
            flex-direction: column;
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        box-shadow: 0px 0px 10px #0000000D;
        margin-right: 30px !important;
        border-radius: 12px;
        width: 50%;
        padding: 32px 30px 30px 27px;
        &:last-child {
            margin-right: 0;
        }
        @media (max-width: 1200px) {
            width: 100%;
        }
    }
    &__name {
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        @media (max-width: 740px) {
            font-size: 14px;
        }
    }
    &__subtitle {
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
        @media (max-width: 740px) {
            font-size: 12px;
        }
    }
    &__num {
        font-size: 30px;
        margin-right: 105px;
        font-weight: 300;
    }
    &__icon {
        width: 62px;
        height: 62px;
        margin-right: 28px;
    }
    &__text {
        margin-right: 30px;
    }
    &__arrow {
        margin-left: auto;
        height: 16px;
        width: 10px;
    }
}