body {
    margin: 0;
    font-family: "Open Sans";
    min-width: 320px;
    overflow-x: hidden;
    color: #091324;
}

.wrapper {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: 1200px) and (min-width: 740px) {
        max-width: 740px;
    }
    position: relative;
}

a {
    outline: none !important;
}

.main {
    overflow-x: hidden;
    padding-bottom: 10px;
}

.flex {
    display: flex
}

.flex--between {
    justify-content: space-between
}

.flex--center {
    align-items: center;
    justify-content: center;
}

.flex--column {
    flex-direction: column
}

.flex--wrap {
    flex-wrap: wrap;
    width: 100%;
}

* {
    outline: none !important;
}